<div class="main-container">
    <!-- Search -->
    <div style="display: flex; justify-content: end;">
        <form class="search-form">
            <mat-form-field class="search-full-width">
                <mat-label>Title or Year</mat-label>
                <input #searchInput
                       type="search"
                       placeholder="Pick one"
                       aria-label="Title or Year"
                       matInput
                       [value]="dataSource.filter"
                       (change)="onSearchChange(searchInput.value)">
            </mat-form-field>
        </form>
    </div>

    <mat-checkbox (change)="onShowPostersChange($event)">Posters</mat-checkbox>

    <!-- Table -->
    <table mat-table [dataSource]="dataSource" class="example-table"
           matSort matSortActive="year" matSortDisableClear matSortDirection="desc" matSortStart="desc"
           (matSortChange)="onSortChange($event)">
        <!-- Id Column -->
        <ng-container matColumnDef="id">
            <th mat-header-cell *matHeaderCellDef># (to test)</th>
            <td mat-cell *matCellDef="let row">{{row.id}}</td>
        </ng-container>

        <!-- Title Column -->
        <ng-container matColumnDef="title">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Title</th>
            <td mat-cell *matCellDef="let row">{{row.title}}</td>
        </ng-container>

        <!-- Year Column -->
        <ng-container matColumnDef="year">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Year</th>
            <td mat-cell *matCellDef="let row">{{row.year}}</td>
        </ng-container>

        <!-- Poster Column -->
        <ng-container matColumnDef="posterUrl">
            <th mat-header-cell *matHeaderCellDef>Poster</th>
            <td mat-cell *matCellDef="let row">
                <img src="{{row.posterUrl}}" width="150" height="222"/>
            </td>
        </ng-container>

        <!-- Genres Column -->
        <ng-container matColumnDef="genres">
            <th mat-header-cell *matHeaderCellDef>Genres</th>
            <td mat-cell *matCellDef="let row">{{row.genres}}</td>
        </ng-container>

        <!-- Director Column -->
        <ng-container matColumnDef="director">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Director</th>
            <td mat-cell *matCellDef="let row">{{row.director}}</td>
        </ng-container>

        <!-- Actors Column -->
        <ng-container matColumnDef="actors">
            <th mat-header-cell *matHeaderCellDef>Actors</th>
            <td mat-cell *matCellDef="let row">{{row.actors}}</td>
        </ng-container>

        <!-- Seen Status Column -->
        <ng-container matColumnDef="seenStatus">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Seen Status</th>
            <td mat-cell *matCellDef="let row">{{row.seenStatus}}</td>
        </ng-container>

        <!-- Plot Column -->
        <ng-container matColumnDef="plot">
            <th mat-header-cell *matHeaderCellDef>Plot</th>
            <td mat-cell *matCellDef="let row">{{row.plot}}</td>
        </ng-container>

        <!-- Runtime Column -->
        <ng-container matColumnDef="runtime">
            <th mat-header-cell mat-sort-header *matHeaderCellDef>Runtime</th>
            <td mat-cell *matCellDef="let row">{{row.runtime}}</td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>

    <button class="fab-add-btn" mat-fab color="primary" aria-label="Add movie button" (click)="onAddMovie()">
        <mat-icon>add</mat-icon>
    </button>
</div>
